#wrapper {
  width: 800px;
  height: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  position: relative;
}

body {
  background-color: #fceef5;
  background: #fceef5 url("./Assignment1/images/IHpPGWf.png");
}

h1 {
  color: #806d53;
  position: absolute;
  top: 35px;
  left: 70px;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: normal;
}

.headbar {
  margin-top: 100px;
  height: 45px;
  border: 1px rgb(196, 240, 255) outset;
  border-radius: 25px;
  background: linear-gradient(90deg, rgb(196, 240, 255) 9%, rgb(251, 255, 254) 100%);
}

.main {
  width: 770px;
  height: 1000px;
  border-width: 7px;
  border-style: solid;
  border-image: url("./Assignment1/images/8xftJ3v.gif") 7 fill round;
  margin: auto;
  border-top-right-radius: 25px;
  padding: 10px
}

.container {
  background-color:rgb(255, 235, 238);
  width: 60%;
  margin-left: -10px;
  border: dashed 1px gainsboro;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container h4{
  color: #806d53;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 3px;
  line-height: 20px;
}

li a {
  display: block;

}

li a:hover {
  background-color: #fceef5;
  text-decoration: none;
}
  
a {
  text-decoration: none;
  color: #ff99cc;
}
  
a:hover {
  text-decoration: underline;
  color: #3b3849;
}
  
h2 {
  font-size: 16px;
  text-transform: lowercase;
  letter-spacing: 4px;
  text-align: left;
  color: #806d53;
}