* {
  box-sizing: border-box;
}

html {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.w3-container {
  height: auto;
  padding: .5rem .3rem 0px .3rem;
  border: 1px dashed black;
  overflow-y: auto;
}

body {
  color: #081910;
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4), -1px -1px 2px rgba(0, 100, 255, 0.4), 0px -1px 2px rgba(0, 255, 0, 0.4);
}

body {
  background-color: #B5CD47;
  color: #1B1404;
  font-family: 'times new roman';
  font-size: .9rem;
  margin: .2rem 0 0 0;
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4), -1px -1px 2px rgba(0, 100, 255, 0.4), 0px -1px 2px rgba(0, 255, 0, 0.4);
}

a:hover {
  font-weight: bold;
}

h1 {
  padding-left: .3rem;
  font-size: 3rem;
  margin: 1rem .5rem;
  border-left: 2px dotted red;
  line-height: 80%;
}

.wrapper {
  display: flex;
  width: 70%;
  max-width: 800px;
  padding-top: 0;
  margin: 0 auto 2rem;
}

.container {
  width: 800px;
  background: #F6F94E;
  border: 3px solid black;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 0 0 3px black;
}

.sheettitle {
  text-align: left;
}

.t {
  background: black;
  color: white;
  font-size: .8rem;
  font-family: 'courier new';
  border-bottom: 1px dotted red;
}

.tinytitle {
  display: flex;
  justify-content: space-between;
  padding: 0px .3rem 0px .3rem;
  font-size: .8rem;
  text-align: justify;
  letter-spacing: 1px;
  border: 1px solid black;
  margin: .2rem .2rem .2rem .2rem;
}

.leftside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.polaroid {
  width: 50%;
  background: #F0FCEA;
  text-align: center;
  padding: 3px 4px 5px 4px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 3px black;
  margin: 0 auto;
}

.pola-title {
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
  line-height: 80%;
  margin-bottom: 2px;
}

.polaroid:hover {
  transform: scale(1) rotate(-2deg);
  scale: 2;
  z-index: 99;
}

.trainercard:hover {
  transform: scale(1) rotate(-2deg);
  scale: 2;
  z-index: 99;

}

main {
  background: #BBD009;
  width: 700px;
  height: auto;
  padding: .2rem;
  margin: 1rem auto 5rem;
  border: 1px dashed black;
  box-shadow: 0 0 4px black;
}

.left {
  width: auto;
  padding: .5rem;
  border: 1px solid black;
}

.left h1 {
  font-family: 'water resist';
  font-weight: bold;
  font-size: 4rem;
  margin: .5rem 0px;
  padding-bottom: 0;

}

.items {
  text-align: center;
  display: flex;
  overflow-x: scroll;
  width: auto;
  height: auto;
  white-space: nowrap;
}

header {
  background: black;
  width: auto;
  padding: .05rem 0 .05rem .5rem;
  color: white;
  border-radius: 3px 3px 0px 0px;
  margin: .5rem 0 0 0;
}

article {
  background: #D5D195;
  padding: 0 .3rem .3rem .5rem;
  border: 1px solid black;
}

section {
  font-size: .8rem;
  padding: .3rem 0 .1rem;
  margin-bottom: .5rem;
  border-bottom: 1px dotted red;
}

.character-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-img {
  width: 100px;
  height: auto;
}

.character-caption {
  text-align: center;
}

.screenshot-img {
  max-height: 500px;
  width: 50%;
  margin: 1rem 4rem 2rem 8rem;
}

.trainercard {
  background: #F0FCEA;
  text-align: center;
  padding: 3px 4px 5px 4px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 3px black;
  margin: 0 auto;
  margin-top: 40px;

}

.rightside {
  font-size: 1.2rem;
  border-left: 2px solid black;
}

a {
  color: #037A7C;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

p {
  margin: .3rem 0 .3rem 0;
}

.p {
  background: #E3F988;
  padding: .3rem .5rem;
  margin: .7rem 0px 0px 0px;
}

h2 {
  font-size: 5.3rem;
  line-height: 80%;
  margin: .2rem 0;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin: .2rem 0;
}

ul {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

.nav {
  border-bottom: 1px dashed black;
  padding: 0 0 .3rem .5rem;
  margin-bottom: .5rem;
}

.nav a {
  margin: 0 2px;
  text-decoration: underline;
}

.sidebar {
  width: 25%;
  float: left;
  padding-top: .4rem;
  padding-bottom: 1rem;
  justify-content: center;
  margin: 0 auto;
  font-size: .9rem;
}

.sidebar-image {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  transform: rotate(-2deg);
  transition: transform 3s;
}

.sidebar-image:hover {
  transform: rotate(370deg);
}

.sidebar-image img {
  display: block;
}

.aboutbox {
  background-color: #EEEEE8;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
}

.sidebar-image,
.title,
.links {
  margin-top: 6px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .5rem;
}

.box {
  background-color: #EEEEE8;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
}

.inner {
  padding: .3rem;
  border: 3px solid white;
  border-radius: 2px;
}

.box img,
.sidebar img {
  max-width: 100%;
  height: auto;
}

.main-wrapper {
  width: 700px;
  float: right;
  margin-left: 1rem;
}

.header {
  background-color: black;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  padding: .1rem .1rem .1rem .2rem;
}

.header-right {
  display: flex;
  float: right;
  color: white;
  font-weight: 800;
  margin-left: auto;
}

.faux-button {
  width: 13px;
  height: 12px;
  text-align: center;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
  border: 1px solid white;
  border-radius: 2px;
  padding: .5px 2px 1px 2px;
  margin: 1px;
}

.faux-button:hover {
  color: lightpink;
}

table {
  border: 1px none #b3adad;
  border-collapse: collapse;
  text-align: center;
  padding: 7px;
}

table th {
  border: 1px none #b3adad;
  padding: 7px;
  text-align: center;
  background: #83F452;
}

table td {
  border: 1px none #b3adad;
  text-align: center;
  padding: 7px;
}

::-webkit-scrollbar {
  width: 10px;
  margin: 2px 0px;
}

::-webkit-scrollbar-track {
  background: repeating-linear-gradient(-45deg, black, black 1px, white 1px, white 2px);
  background-color: #FFF;
  border: 1px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C2FF00;
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
  display: block
}

::-webkit-scrollbar-button:vertical:start {
  height: 11px;
  background: white;
  background-image: url('https://www.reshot.com/preview-assets/icons/AMC79EZK5T/up-arrow-AMC79EZK5T.svg');
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-button:vertical:start:active,
::-webkit-scrollbar-button:vertical:start:hover {
  height: 11px;
  background: #DFFF00;
  background-image: url('https://www.reshot.com/preview-assets/icons/AMC79EZK5T/up-arrow-AMC79EZK5T.svg');
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-button:vertical:end {
  height: 11px;
  background: white;
  background-image: url('https://www.reshot.com/preview-assets/icons/Q9DWZC4PFY/down-arrow-Q9DWZC4PFY.svg');
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-button:vertical:end:active,
::-webkit-scrollbar-button:vertical:end:hover {
  height: 11px;
  background: #DFFF00;
  background-image: url('https://www.reshot.com/preview-assets/icons/Q9DWZC4PFY/down-arrow-Q9DWZC4PFY.svg');
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}