:root {
  --b: white; /* container bgs */
  --bw: 3px; /* border width */
  --bc: #34f2ff; /* border color */
  --bcc: #34f2ff; /* border color outset */
  --h: #dbfcff; /* header bgs */
  --pink: #e74492;
  --bt: solid;
  --color: #000;
  --marginleft: -120px;
  --bgimg: url("../images/mikuheader.png");
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--pink) #fff;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb:hover {
  background: #ed75ae;
}

@font-face {
  font-family: "Pixel Operator";
  src: url("../font/kyguk9.ttf");
}

@font-face {
  font-family: "Orbitron";
  src: url("../font/cckohn.ttf");
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Pixel Operator";
  font-size: 20px;
  animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
  color: var(--pink);
  font-family: "Orbitron";
  font-size: 20px;
}

#wrapper {
  max-width: 1100px;
  margin: 15px auto;
  animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.miku {
  max-width: 100%;
  height: auto;
  outline: var(--bw) var(--bt) var(--bc);
  background-color: var(--h);
  z-index: 1;
  position: relative;
}

.mikuheader {
  width: 100%;
  height: 306px;
  object-fit: cover;
  margin-left: var(--marginleft);
  display: block;
  margin-bottom: var(--bw);
  position: relative;
  background-image: var(--bgimg);
  background-size: cover;
}

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 23% auto 23%;
  grid-auto-flow: row;
  gap: 10px;
  grid-template-areas:
    "side1 main side3"
    "side2 main side3"
    "side2 banner banner";
  outline: var(--bw) var(--bt) var(--bc);
  padding: 10px;
  background: var(--b);
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  grid-area: main;
  border: var(--bw) var(--bt) var(--bc);
  height: 610px;
  order: 2;
  z-index: 2;
}

.side1 {
  grid-area: side1;
  border: var(--bw) var(--bt) var(--bc);
  display: flex;
  flex-direction: column;
  order: 3;
}

.side2 {
  grid-area: side2;
  border: var(--bw) var(--bt) var(--bc);
  display: flex;
  flex-direction: column;
  order: 4;
}

.side3 {
  grid-area: side3;
  height: 610px;
  border: var(--bw) var(--bt) var(--bc);
  display: flex;
  flex-direction: column;
  order: 5;
}

.banner {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 7;
  z-index: 1;
}

.title {
  position: sticky;
  border-bottom: var(--bw) var(--bt) var(--bc);
  background-color: var(--h);
  padding: 10px;
  text-align: center;
}

.virtualdiva {
  display: flex;
  height: 306px;
  width: 1098px;
  padding: 75px;
  align-items: center;
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  z-index: 999999;
  text-align: right;
  font-family: "Orbitron";
  color: var(--pink);
  -webkit-text-stroke: 1px white;
  animation: glowing 2s infinite;
  justify-content: flex-end;
  text-transform: uppercase;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 0.1em, 0 0 0.1em;
  }

  50% {
    text-shadow: 0 0 0.3em, 0 0 0.1em;
  }

  100% {
    text-shadow: 0 0 0.1em, 0 0 0.1em;
  }
}

.lines {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999999999999999999999999999999999999999999999999999999999999;
  opacity: 0.05;
}

.lines:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-xgradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.5) 51%
  );
  background-size: 100% 4px;
  will-change: background, background-size;
  animation: scanlines 0.2s linear infinite;
}

@keyframes scanlines {
  from {
    background: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 51%
    );
    background-size: 100% 4px;
  }

  to {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 50%,
      transparent 51%
    );
    background-size: 100% 4px;
  }
}

a {
  text-decoration: none;
  color: var(--pink);
  text-shadow: 2px 2px 1px #34f2ff;
  transition: 0.3s;
  text-transform: uppercase;
}

a:hover {
  transition: 0.3s;
  letter-spacing: 1.5px;
}

textarea {
  width: calc(100% - 20px);
  height: 430px;
  border: none;
  padding: 10px;
  resize: none;
  font-family: "Pixel Operator";
  font-size: 20px;
}

input[type="text"] {
  font-family: "Pixel Operator";
  border: var(--bw) var(--bt) var(--bc);
  outline: none;
  padding: 5px 8px;
  font-size: 18px;
  margin: 2px 0px;
  transition: 0.2s;
  color: var(--pink);
  min-width: 84px;
}

input[type="submit"],
input[type="reset"] {
  font-family: "Pixel Operator";
  border: var(--bw) var(--bt) var(--bc);
  padding: 5px 8px;
  background-color: var(--h);
  font-size: 18px;
  margin: 2px 0px;
  transition: 0.2s;
  color: var(--pink);
  min-width: 84px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: var(--pink);
  color: white;
}
