a {
  text-decoration: none;
}

a:focus {
  outline: 0px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

small {
  font-size: 0.6rem;
  color: #b3b9a2;
}

.map {
  padding: 10px 0px 30px 40px;
}

.first {
  margin-left: 0px !important;
}

.line {
  border-left: 1px #cccccc solid !important;
  margin-left: -1px;
}

li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  position: relative;
  margin-left: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: auto;
  height: auto;
  padding: 0px 5px;
  border: 1px solid #000000;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  z-index: 3;
}

li a:hover {
  transform: rotate(-7deg);
}

ul div {
  margin-left: 1rem;
  margin-top: 0.3rem;
  position: relative;
}

ul ul {
  margin: 0.3rem 0px 0.3rem 1.5rem;
  position: relative;
}

ul ul div {
  margin-left: 2rem;
  margin-top: 0.3rem;
  position: relative;
}

ul ul ul {
  margin: 0.3rem 0px 0.3rem 3.5rem;
  position: relative;
}

ul ul ul div {
  margin-left: 2rem;
  margin-top: 0.3rem;
  position: relative;
}

ul.map li.page ul li.page::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 1.7rem;
  border-bottom: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  margin-left: -1px;
  position: absolute;
  top: -1.2rem;
}

ul.map li.page ul li.page ul li.page::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 1.7rem;
  border-bottom: 1px #cccccc red;
  border-left: 1px #cccccc solid;
  margin-left: -1px;
  position: absolute;
  top: -1.2rem;
}
